<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detection</title>
    <link rel="stylesheet" href="style.css">
     <style>
        body {
            max-width:2000px; /* Set a maximum width for the entire body */
            margin: 0 auto; /* Center the content horizontally */
        }

        .content {
            max-width: 400px; /* Set a maximum width for the content div */
            margin: 0 auto; /* Center the content div horizontally */
        }
    </style>
</head>
<body>
    <section class="header"></section>

    <div>
        <h1 class="left-align">Security Camera</h1>
    </div>

    <div class="content">
        <p class="left-align">Introducing SecCam, a cutting-edge app that transforms your smartphone or tablet into a powerful security camera...</p>
    </div>

</body>
</html>

