

body {
    font-family: 'Monospaced', monospace;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.header {
    background-color: #1d1f21;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007bff;
    text-align: left;
}

p {
    text-align: left;
    font-size: 18px;
}
div a{
    text-indent: 50px;
}
